/* Pagination Styles */
.pagination-container {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  margin-top: 20px; /* Add space above pagination */
}

.pagination .page-item .page-link {
  border-radius: 5px !important; /* Rounded corners */
  margin: 0 5px; /* Spacing between pagination items */
  color: #00a95c; /* Text color */
  border: none; /* Remove border */
  font-weight: bold; /* Bold text */
}

.form-header {
  background-color: #00a95c;
}
.pagination .page-item.active .page-link {
  background-color: #00a95c; /* Active page background color */
  color: white; /* Active page text color */
}

.pagination .page-item .page-link:hover {
  background-color: rgba(69, 184, 172, 0.2); /* Hover background color */
}

/* Table Styles */
.table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width */
  table-layout: fixed; /* Fixed table layout */
}

.table thead th {
  background-color: #00a95c; /* Header background color */
  color: white !important; /* Header text color */
}

.table tbody tr {
  height: 30px; /* Reduce row height */
}

.table tbody td {
  padding: 6px 10px; /* Reduce padding */
  font-size: 14px; /* Optional: Decrease font size */
}

/* Button Styles */
.btn {
  margin-top: 20px;
  margin-right: 10px;
}

.btn-add {
  border-color: #00a95c;
  color: #00a95c;
}

.btn-edit {
  border-color: #efc050;
  color: #efc050;
}

.btn-delete {
  background-color: #d01c1f;
  color: #fcfcfc;
}

/* Rounded Panel Styles */
.rounded-panel {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-top: 10px;
}

.btns {
  margin-bottom: 10px;
}

.vertical-line {
  height: 40px;
  width: 4px;
  background-color: #565656;
  margin-right: 15px;
}

.page-title {
  font-size: 20px;
  color: #797979;
  text-align: left;
  margin: 0;
  font-weight: 600;
}
.btn-close-custom {
  background: none;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;

  transition: 0.2s ease;
  text-align: right;
  margin-left: 200px;
}

.btn-close-custom:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}
