<div class="row">
    <div class="card col-md-12">
        <!--<div class="card-header">Commissions de passations</div>-->
        <div class="card-body">
            <form action="" method="post" class="form-horizontal">
                <div class="form-group row">
                    <div class="col-md-12" style="text-align: right">
                        <a   class="badge badge-primary" data-toggle="modal" (click)="openModalEditAppareil(scrollableModal, newAppareil, false)" >
                            <i class="feather icon-plus"></i> Ajouter
                        </a>
                    </div>
                </div>

                <div class="form-group row" *ngIf="appareils.length>0">
                    <label class="col-md-1 col-form-label">Filtre :</label>
                    <input [(ngModel)]="searchText" placeholder=" Libelle "
                           class="form-control col-md-4" [ngModelOptions]="{standalone: true}">
                </div>
                <table width="100%" class="table-sm table-bordered" style="overflow:hidden;table-layout:fixed;"
                       *ngIf="appareils!=null && appareils.length>0">
                    <thead>
                    <tr>
<!--                        <th >Nom</th>-->
                        <th width="15%">IMEI</th>
                        <th >STRUCTURE</th>
                        <th >POSITION(LAT;LONG)</th>
                        <th >VERSION</th>
                        <th >DATE START</th>
                        <th >LAST DATE UPDATE</th>
<!--                        <th >ETAT</th>-->
                        <th width="10%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let appareil of appareils
           | grdFilterPipe: {imei: searchText}
          | slice: (page-1) * pageSize : page * pageSize">
<!--                        <td style="overflow: auto">{{appareil.nom}}</td>-->
                        <td style="overflow: auto">{{appareil.imei}}</td>
                        <td style="overflow: auto">{{appareil.structure.nom}}</td>
                        <td style="overflow: auto">{{appareil.latitude}}; {{appareil.longitude}}</td>
                        <td style="overflow: auto">{{appareil.version}}</td>
                        <td style="overflow: auto">{{formatDate(appareil.dateStart)}}</td>
                        <td style="overflow: auto">{{formatDateTime(appareil.lastDateUpdate)}}</td>
<!--                        <td style="overflow: auto">{{appareil.supprimer}}</td>-->
                        <td align="center">
                            <div class="btn-group">
                                <a class="badge badge-primary" (click)="openModalEditAppareil(scrollableModal, appareil, true)">
                                    <i class="feather icon-edit"></i>
                                </a>
                                <span style="margin-left: 5px"></span>
                                <a class="badge badge-secondary" (click)="openModalDeleteAppareil(scrollableModalDelete, appareil)">
                                    <i class="feather icon-trash-2"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ngb-pagination *ngIf="appareils!=null && appareils.length>0" class="d-flex justify-content-end" [collectionSize]="appareils.length" [(page)]="page"
                                [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                </ngb-pagination>

            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #scrollableModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editer une appareil</h5>
        <a  class="close" (click)="modal.close('by: close icon')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="nom">NOM</label>
            <div class="col-md-6" >
                <input type="text" id="nom" name="nom"  class="form-control"
                       mdInput [(ngModel)]="newAppareil.nom" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="code">IMEI</label>
            <div class="col-md-6" >
                <input type="text" id="code" name="code"  class="form-control"
                       mdInput [(ngModel)]="newAppareil.imei" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" >STRUCTURE</label>
            <div class="col-md-6" >
                <ng-select [items]="entiteSantes"
                           bindLabel="nom"
                           bindValue="id"
                           [multiple]="false"
                           [(ngModel)]="newAppareil.structure.id">
                </ng-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" >VERSION</label>
            <div class="col-md-6" >
                <input type="text" name="version"  class="form-control"
                       mdInput [(ngModel)]="newAppareil.version" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" >LATITUDE</label>
            <div class="col-md-6" >
                <input type="number" name="latitude"  class="form-control"
                       mdInput [(ngModel)]="newAppareil.latitude" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" >LONGITUDE</label>
            <div class="col-md-6" >
                <input type="number" name="latitude"  class="form-control"
                       mdInput [(ngModel)]="newAppareil.longitude" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" >DATE START</label>
            <div class="col-md-6" >
                <input type="date" name="datestart"  class="form-control"
                       mdInput [(ngModel)]="newAppareil.dateStart" />
            </div>
        </div>
<!--        <div class="form-group row">-->
<!--            <label class="col-md-3 col-form-label" >LAST DATE UPDATE</label>-->
<!--            <div class="col-md-6" >-->
<!--                <input type="date" name="lastdatestart"  class="form-control"-->
<!--                       mdInput [(ngModel)]="newAppareil.lastDateUpdate" />-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="modal-footer">
        <a  class="badge badge-secondary" (click)="modal.close('by: close a')">
            <i class="feather icon-x"></i> Annuler</a>
        <a  class="badge badge-primary" (click)="saveAppareil(); modal.close('by: save a')">
            <i class="feather icon-save"></i> Enregistrer</a>

    </div>
</ng-template>

<!-- Modal -->
<ng-template #scrollableModalDelete let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="scrollableModalDelete">Supprimer un appareil</h5>
        <a  class="close" (click)="modal.close('by: close icon')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
    <div class="modal-body">
        <span> Etes vous sûr de bien vouloir supprimer cet appareil?</span>
    </div>
    <div class="modal-footer">
        <a  class="badge badge-secondary" (click)="modal.close('by: close a')">
            <i class="feather icon-x"></i> Non</a>
        <a  class="badge badge-primary" (click)="deleteAppareil(); modal.close('by: save a')">
            <i class="feather icon-trash-2"></i> Oui</a>

    </div>
</ng-template>
